body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Graduate', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./components/basketball.jpg');
  background-size: cover;
  color: white;
}

h1 {
  font-size: 60px;
  margin: 0;
}

a {
  font-size: 40px;
  text-decoration: none;
}

a:visited {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.toplink {
  display: inline-block;
  margin: 0px 10px;
  text-decoration: none;
}